*.*

!*.lua
!*.js
!*.html
!*.css
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.ico
!*.mp3
!*.mp4
!*.log
!*.ttf
!*.gitignore
!*.npmrc
!*.json
!*.md  
!*.txt
!*.sh
!*.cfg
!*.meta
!*.py
!*.bat

fx-server-data/cache/*
fx-server/*
fx-server-data/resources/\[WIP\]/\[casino\]/rpfrogs-blackjack/coords.lua
