.information {
    background: linear-gradient(180deg, rgba(75, 162, 255, 1) 0%, rgba(0, 110, 255, 1) 100%);
}

.suitcaseg {
    background: linear-gradient(180deg, rgba(46, 165, 51, 1) 0%, rgba(43, 157, 49, 1) 100%);
}

.rehber {
    background: linear-gradient(180deg, rgba(45, 84, 138, 1) 0%, rgba(1, 40, 101, 1) 100%);
}

.twittercs {
    color: rgb(44, 146, 255);
    background: linear-gradient(180deg, rgba(0, 125, 255, 1) 0%, rgba(44, 91, 214, 1) 100%);
    -webkit-background-clip: text;
}

.sarisayfa {
    color: rgb(47, 30, 21);
    background: linear-gradient(180deg, rgb(28, 28, 28) 0%, rgb(28, 28, 28)00%);
    -webkit-background-clip: text;
}

.borsa {
    color: rgb(57, 186, 87);
    background: linear-gradient(180deg, rgb(28, 28, 28) 0%, rgb(28, 28, 28)00%);
    -webkit-background-clip: text;
}

.twittercs2 {
    background: linear-gradient(180deg, rgb(22, 22, 27) 0%, rgb(19, 19, 19) 100%);
}

.messages12 {
    background: linear-gradient(180deg, rgba(114, 255, 94, 1) 0%, rgba(0, 255, 4, 1) 100%);
}

.callcs {
    background: linear-gradient(180deg, rgba(58, 223, 116, 1) 0%, rgba(0, 183, 60, 1) 100%);
}

.garage {
    background: linear-gradient(180deg, rgba(233, 108, 123, 1) 0%, rgba(209, 13, 53, 1) 100%);
}

.settingarka {
    background: linear-gradient(180deg, rgb(63, 63, 63) 0%, rgb(58, 58, 58) 100%);
}

.mail {
    background: linear-gradient(180deg, rgba(0, 130, 255, 1) 0%, rgba(0, 157, 255, 1) 100%);
}

.konum {
    background: linear-gradient(180deg, rgba(61, 1, 255, 1) 0%, rgba(0, 97, 245, 1) 100%);
}

.races {
    background: linear-gradient(180deg, rgba(94, 42, 108, 1) 0%, rgba(122, 70, 255, 1) 57%);
}

.sarisayfaa {
    background: linear-gradient(180deg, rgba(255, 172, 0, 1) 0%, rgba(255, 172, 0, 1) 57%);
}

.unlockstil {
    color: rgb(185, 215, 192);
}

.weeblys {
    color: rgba(99, 167, 207);
}

.handshakess {
    color: rgba(234, 186, 159);
    -webkit-background-clip: text;
}