.bank-container {
    height: 102%;
    padding-top: 2%;
}

.bank-entries-wrapper {
    overflow-y: auto;
    height: 100%;
    position: relative;
    width: 95%;
}

.bank-entries {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    border: none;
}

.bank-header {
    color: white;
    background-color: #31465e;
    border: none;
}

.bank-body {
    background-color: #31465e;
    border: none;
}

.bank-collection {
    background-color: #242831;
    color: white;
}

.bank-collection .collection-item {
    background-color: #242831;
    border-bottom: 0px solid #e0e0e0
}

.bank-button {
    color: black;
    background-color: #ec8e48;
}

.bank-button:hover {
    background-color: #eb8539;
}