/* Calls */

.call-history-container {
    height: 102%;
    padding-top: 1%;
}

.call-history-entries-wrapper {
    overflow-y: auto;
    height: 90%;
    width: 95%;
    position: relative;
}

.call-history-footer {
    position: relative;
    bottom: 0px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-history-entries {
    margin: 0px;
    border: none;
}

.call-history-entry {
    padding: 0px;
}

.call-history-body {
    padding: 7px !important;
    word-break: break-all;
    font-size: 0.8em;
}

.calls-collapsible-header {
    color: white;
    background-color: #31465e;
    border: none;
}

.calls-collapsible-body {
    color: white;
    background-color: #31465e;
    border: none;
}

.calls-button {
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.calls-button:hover {
    color: rgb(200, 200, 200);
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.calls-button:active {
    color: rgb(190, 190, 190);
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.calls-button:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Incoming Call */

.caller {
    margin: 0px;
}

.incoming-call-container {
    height: 102%;
}

.incoming-call-header {
    width: 100%;
    height: 75%;
    margin-bottom: 0px;
}

.incoming-call-entries-wrapper {
    overflow-y: auto;
    height: 25%;
    position: relative;
    padding: 25px;
}