.contacts-container {
    height: 102%;
    padding-top: 1%;
}

.contacts-entries-header {
    height: 10%;
    margin-top: 4%;
    padding-top: 0px;
    margin-bottom: 0px;
}

.contacts-entries-wrapper {
    overflow-y: auto;
    width: 95%;
    height: 82.5%;
    position: relative;
}

.contacts-entries {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    border: none;
}

.contacts-entry-icon {
    color: white;
    justify-content: center;
}

.contacts-entry-name {
    font-weight: bold;
}

.contacts-collapsible-header {
    color: white;
    background-color: #31465e;
    border: none;
}

.contacts-collapsible-body {
    color: white;
    background-color: #31465e;
    border: none;
}

.contacts-button {
    background-color: transparent;
    color: white;
}

.contacts-button:hover {
    color: rgb(200, 200, 200);
}

.contacts-button:active {
    color: rgb(190, 190, 190);
}