/* Groups */

.groups-container {
    height: 102%;
    padding-top: 2%;
}

.groups-entries-wrapper {
    overflow-y: auto;
    height: 99%;
    width: 95%;
    position: relative;
}

.groups-entries {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    border: none;
}

.groups-entries .collection-item {
    color: white;
    background-color: #253955;
    border: none;
}

.groups-button {
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    color: white;
}

.groups-button:hover {
    color: rgb(200, 200, 200);
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.groups-button:active {
    color: rgb(190, 190, 190);
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.groups-button:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Group Manage */

.group-manage-container {
    height: 102%;
    padding-top: 2%;
}

.group-manage-header {
    top: 0px;
    height: 20%;
}

.group-manage-wrapper {
    overflow-y: auto;
    height: 70%;
    position: relative;
}

.group-manage-card {
    color: white;
    background-color: #31455e;
}

.group-manage-entries {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.group-manage-footer {
    position: relative;
    bottom: 0px;
    height: 10%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.group-manage-entry-content {
    padding: 10px 10px 10px 20px !important;
}

.group-manage-entry-title {
    font-size: 16px !important;
    margin-bottom: 0px !important;
}

.group-manage-entry-body {
    font-size: 14px !important;
}