/* Messages */

.messages-container {
    height: 102%;
    padding-top: 2%;
}

.messages-entries-header {
    height: 10%;
    margin-top: 4%;
    padding-top: 0px;
    margin-bottom: 0px;
}

.messages-entries-wrapper {
    overflow-y: auto;
    margin-top: 8%;
    height: 80%;
    position: relative;
}

.messages-entries {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.messages-entry:nth-of-type(2n) {
    background: rgba(250,250,250, 0.1)
}

.messages-entry {
    padding-top:3px;
    margin-bottom: 7px;
}

.messages-entry-icon {
    color: white;
    justify-content: center;
}

.messages-entry-details {
    height: 14px;
    line-height: 14px;
}

.messages-entry-details-sender {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messages-entry-details-date {
    padding: 3px;
    font-weight: 0;
    font-size: 11px;
    color: white;
    opacity: 0.9;
}

.messages-entry-body {
    line-height: 5px;
    max-height: 3%;
    overflow: hidden;
    text-align: left;
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    color: rgb(240, 240, 240);
    overflow: hidden;
    word-break: break-all;
}

.messages-button {
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.messages-button:hover {
    color: rgb(200, 200, 200);
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.messages-button:active {
    color: rgb(190, 190, 190);
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.messages-button:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Message */

.message-container {
    height: 102%;
}

.message-header {
    width: 100%;
    height: 5%;
    margin-bottom: 0px;
}

.message-entries {
    padding-top: 10px;
}

.message-recipient {
    font-family: "Roboto";
    font-size: 16px;
}

.message-entries-wrapper {
    overflow-y: auto;
    height: 87.5%;
    position: relative;
}

.message-footer {
    position: relative;
    bottom: 0%;
    height: 5%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.message-details {
    white-space: nowrap;
    font-size: 0.7em !important;
    text-align: right;
}

.chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 5px 9px;
    position: relative;
    margin: 2px;
    width: 70%;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 0.9em;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    word-break: break-word;
}

.chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}

.chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 10px;
}

.chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    transform: rotate(70deg) skew(5deg);
    -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
    margin-right: 10px;
}

.chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    transform: rotate(118deg) skew(-5deg);
    -webkit-transform: rotate(118deg) skew(-5deg);
}