@font-face {
    font-family: "Samsung Sans Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Samsung Sans Regular"), url("../webfonts/SamsungSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Samsung Sans Thin";
    font-style: normal;
    font-weight: normal;
    src: local("Samsung Sans Thin"), url("../webfonts/SamsungSans-Thin.woff") format("woff");
}

@font-face {
    font-family: "Samsung Sans Light";
    font-style: normal;
    font-weight: normal;
    src: local("Samsung Sans Light"), url("../webfonts/SamsungSans-Light.woff") format("woff");
}

@font-face {
    font-family: "Samsung Sans Medium";
    font-style: normal;
    font-weight: normal;
    src: local("Samsung Sans Medium"), url("../webfonts/SamsungSans-Medium.woff") format("woff");
}

@font-face {
    font-family: "Samsung Sans Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Samsung Sans Bold"), url("../webfonts/SamsungSans-Bold.woff") format("woff");
}

.phone-notification-container {
    position: absolute;
    height: 5.5vh;
    width: 26vh;
    background-color: rgba(39, 39, 39, 0.9);
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -8%;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    z-index: 140;
}

.notification-icon {
    position: absolute;
    height: 100%;
    width: 5vh;
    text-align: center;
    line-height: 5.7vh;
    color: white;
    font-size: 2.5vh;
}

.notification-title {
    position: absolute;
    top: 1vh;
    left: 4.5vh;
    font-size: 1.1vh;
    font-family: "Samsung Sans Regular";
    color: white;
}

.notification-text {
    position: absolute;
    top: 2.7vh;
    left: 4.5vh;
    font-size: 1vh;
    font-family: "Samsung Sans Regular";
    color: white;
    width: 100%;
    overflow: hidden;
}