body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Roboto";
}

#phone-notifications {
    bottom: 10px;
    position: absolute;
    width: 100%;
}

#twatter-notification {
    bottom: 10px;
    right: 10px;
    position: absolute;
    display: none;
    width:20%
}

#pager-notification {
    bottom: 0px;
    right: 30%;
    position: absolute;
    display: none;
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}



.notification-sms {
    display: none;
}

.notification-twatter {
    display: none;
}

.notification-email {
    display: none;
}

.notification-button {
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.7em;
    text-shadow: 1px 1px 2px #000;
}

.phone-shell {
    bottom: -70%;
    right: 0%;
    display: inline-block;
    position: absolute;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    display: none;

    width: 350px;
    height: 750px;
    background-image: url('nui://np-phone/html/images/background.png');
}

/* THIS IS THE ACTUAL SCREEN */

.phone-screen {
    width: 86%;
    position: relative;
    bottom: -50px;
    left: 23px;
    height: 90%;
    z-index: 3;
    overflow: hidden;
    display: block;
    border-radius: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.status-bar {
    position: relative;
    height: 4%;
    display: block;
    z-index: 5;
    width: 100%;
}

#phone-applications {
    position: relative;
    height: 88%;
    display: block;
    width: 100%;
}

.navigation-button {
    padding: -5000px;
}

.navigation-menu {
    position: relative;
    height: 4.4%;
    display: block;
    z-index: 5;
    width: 100%;
    margin-top: 11px;
    padding-top: 8px;
    background-color: #1c1d1d;
    opacity: 0.5;
    border-top: 2px solid rgba(207, 207, 207, 0.1);
}

.rounded-square {
    height: 53px;
    width: 53px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.7em;
    text-shadow: 1px 1px 2px #000;
}

.btn-medium {
    height: 48px;
    width: 48px;
}

.btn-medium i {
    line-height: 48px;
    text-shadow: 2px 2px 4px #000;
}

.btn-action {
    color: black;
    padding: 0px 8px;
    line-height: 24px;
    height: 24px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.icon {
    vertical-align: middle;
    position: relative;
    top: -1px;
    left: -1px;
}

.app-row {
    margin-bottom: 20px;
}

.smaller-row-padding {
    margin-bottom: 15px;
}

.phone-modal {
    position: absolute;
    z-index: 9999;
    top: 0%;
    left: 0%;
    width: 90%;
    padding: 0px;
    overflow-y: auto;
}

.no-padding {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.phone-app {
    display: none;
    height: 100%;
}

.phone-app:not(.home-container) {
    background-color: #191d25;
    opacity: 1;
}

.input-field-small {
    margin-top: 0px;
    margin-bottom: 5px;
}

.input-field-small label {
    opacity: 1;
}

.icon-spacing i:not(:last-child) {
    margin-right: 25px !important;
}

#toast-container {
    bottom: 40% !important;
    top: auto !important;
    z-index: 99999999 !important;
    left: auto !important;
    right: 4% !important;
}

















/* GPS */

.gps-container {
    height: calc(100% + 16px);
    padding-top: 5px;
}

.gps-entries-header {
    padding-top: 10px;
    height: 30%;
}

.gps-entries-wrapper {
    overflow-y: auto;
    height: 70%;
    position: relative;
}

.gps-entries {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

/* Recent Apps */

.recent-apps-container {
    height: calc(100% + 5px);
    width:100%;
}

.recent-apps-entries {
    overflow-y: auto;
    height: 100%;
    position: relative;
}


/* Real Estate */

.real-estate-container {
    height: calc(5px + 100%);
}

.real-estate-entries-wrapper {
    overflow-y: auto;
    height: 90%;
    position: relative;
}

.real-estate-entries {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.real-estate-footer {
    position: relative;
    bottom: 0px;
    height: 10%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.real-estate-header {
    margin-top: 5px;
    font-size: 16px !important;
}

/* Browser */

#browser {
    display: none;
    position: absolute;
    height: 600px;
    width: 1100px;
    bottom: 1px;
    right: 1px;
}

.browser-window {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* Scrollbar */

.scrollbar--dark {
    scrollbar-color: #606060 #393939;
    scrollbar-width: thin;
}

.scrollbar--dark::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: red;
}

.scrollbar--dark::-webkit-scrollbar-corner {
    background: #393939;
}

.scrollbar--dark::-webkit-scrollbar-thumb {
    background: #606060;
    border: 1px solid #393939;
}

.scrollbar--dark::-webkit-scrollbar-thumb:hover {
    background: #868686;
}

.scrollbar--dark::-webkit-scrollbar-track {
    border: 1px solid #393939;
    background-color: #393939;
}

/* Tabs */


.tabs {
    display:-webkit-flex;
    display: -ms-flexbox;
    display: flex

}

.tabs::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  padding-top: 20px;
}

.tabs::-webkit-scrollbar-track {
  background: #ddd;
}

.tabs::-webkit-scrollbar-thumb {
  background: #666;
}

.tabs .tab a {
    color: #009688;
}

.tabs .tab a.active {
    color: #009688;
}

.tabs .tab a:hover {
    color: #009688;
}

.tabs .tab a:focus {
    background-color: rgba(0, 150, 136, 0.2);
}

.tabs .tab a:focus.active {
    background-color: rgba(0, 150, 136, 0.2);
}

.tabs .indicator {
    background-color: #009688;
}

.input-field select {
    display: block;
    position: absolute;
    width: 0;
    pointer-events: none;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
}

input.no-spinner[type=number]::-webkit-inner-spin-button, input.no-spinner[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-car-payments {
    visibility: hidden;
}

.btn-transfer-house {
    visibility: hidden;
}

.btn-evict-house {
    visibility: hidden;
}

.hidden-buttons {
    display: none;
}


/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.select-wrapper input {
    color:grey;
}
.select-wrapper .caret {
    fill: rgba(255,255,255,0.87);
}

.app-row > .col {
    margin-top:20px;
}

.button-row > button {
    margin-top: 10px;
}