.garage-container {
    height: 102%;
    padding-top: 2%;
}

.garage-entries-wrapper {
    overflow-y: auto;
    height: 97.5%;
    position: relative;
    width: 95%;
}

.garage-entries {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    border: none;
}

.garage-body {
    padding: 2% !important;
    background-color: #253955;
    border: none;
}

.garage-header {
    color: white;
    background-color: #253955;
    border: none;
    height: 50%;
}

.garage-collection {
    background-color: #253955;
    color: white;
}

.garage-collection .collection-item {
    background-color: #253955;
    border-bottom: 1px solid white;
}

.garage-button {
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.garage-button:hover {
    color: rgb(200, 200, 200);
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.garage-button:active {
    color: rgb(190, 190, 190);
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.garage-button:focus {
    background-color: transparent;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}