.target-wrapper {
    display: none;
}

.target-eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 3vh;
}

.target-label-wrapper {
    position: absolute;
    right: 80vh;
    top: 52vh;
    margin-top: -13px;
    width: 11vh;
}

.target-label {
    text-shadow: rgb(55, 71, 79) -1px 1px 0px, rgb(55, 71, 79) 1px 1px 0px, rgb(55, 71, 79) 1px -1px 0px, rgb(55, 71, 79) -1px -1px 0px;
    font-style: normal !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 600 !important;
    letter-spacing: 0px !important;
    text-transform: none !important;
    font-variant: small-caps !important;
    text-decoration: none !important;
    font-size: 1.25rem;
    line-height: 1.6;
    list-style: none;
    /* font-size: 1.3vh; */
    /* font-weight: bold; */
    /* font-family: sans-serif; */
    color: white;
    /* text-transform: uppercase; */
    user-select: none;
    white-space: nowrap;
}

.target-icon {
    width: 1.25em;
    filter: drop-shadow(black 2px 2px 2px);
    /* margin-right: 4px; */
    color: #2D98DA;
}