body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

:root {
    --menu-debug: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.menu-main-container {
    display: var(--menu-debug);
    position: absolute;

    height: 83%;
    width: 24.24%;

    right: 3vh;
    top: 50%;
    transform: translateY(-50%);

    -moz-box-shadow: 0px 1px 5px 0px #424242;
    -webkit-box-shadow: 0px 1px 5px 0px #424242;
    box-shadow: 0px 1px 5px 0px #424242;
    background-color: rgb(44, 63, 97);

    transition: width .4s ease-in-out, right .4s ease-in-out;

}

.menu-size-change {
    position: fixed;

    left: -2.5vh;

    width: 2.5vh;
    height: 3.5vh;

    border-radius: .2vh;
    background-color: gray;
    transition: all .1s ease-in-out;
}

.menu-size-change:hover {
    background-color: rgb(82, 82, 82);
}

.menu-size-change i {
    position: absolute;

    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: white;
}

.menu-current-target {
    display: none;
    float: right;
    position: relative;

    width: 99.3%;
    height: 2.25vh;

    margin: 0 auto;
    z-index: 20;
    margin-bottom: .5vh;

    line-height: 2.25vh;
    text-align: center;
    color: white;
    font-size: 1.2vh;
    background-color: #264d6fbf;
}

/* Menus */

.menu-pages {
    margin-left: 4vh;
    width: calc(max-content);
    height: 100%;

    overflow: hidden;
}

.menu-page {
    display: none;
    position: relative;

    width: 100%;
    height: 100%;
}


/* Animations */

.dropdown-open {
    -webkit-animation: open-dropdown 0.3s ease-in-out;
    animation: open-dropdown 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dropdown-closed {
   -webkit-animation: closed-dropdown 0.3s ease-in-out;
   animation: closed-dropdown 0.3s ease-in-out;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
}


@-webkit-keyframes open-dropdown {
   100% {
       transform: rotateZ(-180deg);
   }
}

@keyframes open-dropdown {
   100% {
       transform: rotateZ(-180deg);
   }
}

@-webkit-keyframes closed-dropdown {
   0% {
       transform: rotateZ(-180deg);
   }
   100% {
       transform: rotateZ(0deg);
   }
}

@keyframes closed-dropdown {
   0% {
       transform: rotateZ(-180deg);
   }
   100% {
       transform: rotateZ(0deg);
   } 
}

@-webkit-keyframes shake-icon {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
 }

@keyframes shake-icon {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
